<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<div class="bg-image"></div>
<div class="bg-main">
<nav class="navbar navbar-light bg-light">
<h1>Миссия Колонизация Марса</h1>
    {% if current_user.is_authenticated %}

    <a class="navbar-brand" href="/logout">{{ current_user.name + ' ' + current_user.surname}}</a>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
    {% endif %}
    {% if current_user.is_authenticated %}
{% endif %}
<span class="navbar-brand mb-1 p-1">Mars One</span>
</nav>
<h4><small class="text-black-50">И на Марсе будут яблони цвести!</small></h4>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</div>
</body>
</html>