{% extends "base.html" %}

{% block content %}
    <h1>Смена расписания</h1>
    <form method="post" enctype="multipart/form-data">
                               <div class="form-group">
                                    <label for="diary">Выберите файл</label>
                                    <input type="file" class="form-control-file" id="diary" name="file">
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
{% endblock %}